
{% extends "first_app/base.html" %}
{% block body_block %}
    {% load my_extras %}
    <h1>{{ text | upper}}</h1>
    <h1>{{ text | mma }}</h1>
    <h2>{{ number | add:"1000000000000000000000"}}</h2>
    <div>
        {% if access_records %}
            <table>
                <thead>
                <th>Site Name</th>
                <th>Date Accessed</th>
                </thead>
                {% for access in access_records %}
                    <tr>
                        <td>{{ access.name }}</td>
                        <td>{{ access.date }}</td>
                    </tr>
                {% endfor %}
            </table>


        {% else %}
            <h1>Nothing here yet</h1>
        {% endif %}
    </div>
    <form>
        <input id="target" type="text" value="Hello there">
    </form>
    <div id="other">
        Trigger the handler
    </div>
{% endblock %}
{% block footer_block %}
    <script>
    // ctrl + alt + "l"
        $(document).ready(function () {
            console.log("ready!");
            $("#target").select(function () {
                alert("Handler for .select() called.");
            });
        });
    </script>
{% endblock %}
